<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grayscale - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/grayscale.css" rel="stylesheet">

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <link href="/static/gallery.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#customise">Customise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">BrainPainter</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A free software for visualisation of brain structures, biomarkers and associated pathological processes.</h2>
        <a href="#customise" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- Customise Section -->
  <section id="customise" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <br><br>
          <h2 class="text-black mb-4">Customise BrainPainter</h2>
<!--          <p class="text-white-50">Customise the type of brain images, atlases, resolution, and many more:</p>-->
        </div>
      </div>


    <form method=post enctype=multipart/form-data action=generated>
     <div class="form-group row">
      <div class="col-3">
        <label for="exampleFormControlSelect1">Atlas</label>
        <select class="form-control" id="atlas" name="atlas">
          <option>Desikan-Killiany</option>
          <option>Destrieux</option>
          <option>Tourville</option>
        </select>

        <br><br>

        <label for="exampleFormControlSelect1">Brain Type</label>
        <select class="form-control" id="brainType" name="brainType">
          <option>pial</option>
          <option>inflated</option>
          <option>white</option>
        </select>


      </div>


      <div class="col-3">

        <label for="ex2">Colours (RGB)</label>
        <input class="form-control" id="c1" type="text" name="c1" placeholder="1,1,1 (biomarker value 0)" value="1,1,1">
        <span class="help-block">Colour corresponding to input biomarker value 0</span><br><br>
        <input class="form-control" id="c2" type="text" name="c2" placeholder="1,1,1 (biomarker value 1)" value="1,1,1">
        <span class="help-block">Colour corresponding to input biomarker value 1</span><br><br>

        <input class="form-control" id="c3" type="text" name="c3" placeholder="1,1,1 (optional, value 2)">
        <input class="form-control" id="c4" type="text" name="c4" placeholder="1,1,1 (optional, value 3)">
        <input class="form-control" id="c5" type="text" name="c5" placeholder="1,1,1 (optional, value 4)">

      </div>
      <div class="col-2">
        <label for="ex3">Resolution</label>
        <input class="form-control" id="res" type="text" name="resolution" placeholder="1200,900" value="1200,900">
      </div>

      <div class="col-3">
        <label for="ex3">Background color (RGB)</label>
        <input class="form-control" id="backgroundCol" name="backgroundCol" type="text" placeholder="1,1,1 (white)" value="1,1,1">
      </div>
    </div>

      <p>For the colours above, the first colour can be for example white (1,1,1), and the subsequent color can be e.g. red (1,0,0). If more than two colours are desired for interpolation, make sure the input biomarker range is scaled to 0-5, to use up to the 5th colour for interpolation.</p><br><br>

    Upload input data file (.csv) according to these templates:
      <ul>
        <li><a href="static/DK_template.csv"> Desikan-Killiany template</a>:</li>
        <li><a href="static/Destrieux_template.csv"> Destrieux template</a>:</li>
        <li><a href="static/Tourville_template.csv"> Tourville template</a>:</li>
      </ul>

    <input type=file name=file>
    <input type=submit value=Submit>
  </form>

    </div>
  </section>

  <!-- Gallery Section -->
  <section id="gallery" class="projects-section bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <br><br>
          {% if galleryDisabled == 'disabled' %}
            <h2 class="text-black mb-4 ">Generated images (demo) - upload data to generate your own</h2>
          {% else %}
            <h2 class="text-black mb-4 ">Generated images</h2>
          {% endif %}
<!--          <p class="text-white-50">Customise the type of brain images, atlases, resolution, and many more:</p>-->
        </div>
      </div>

      <!----------- Gallery code --------------->

      <!-- Images used to open the lightbox -->
      <div class="row">
        <div class="column">
          {{figDesc[0]}}
          <img src="{{figPath[0]}}"  style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </div>
        <div class="column">
          {{figDesc[1]}}
          <img src="{{figPath[1]}}"  style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow">
        </div>
      </div>

      <!-- The Modal/Lightbox -->
      <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close cursor" onclick="closeModal()">&times;</span>

          <div class="mySlides">
            <div class="numbertext">1 / 2</div>
            <img src="{{figPath[0]}}" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">2 / 2</div>
            <img src="{{figPath[1]}}" style="width:100%">
          </div>

          <!-- Next/previous controls -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- Caption text -->
          <div class="caption-container">
            <p id="caption"></p>
          </div>

          <!-- Thumbnail image controls -->
          <div class="rowModal">
            <div class="column">
              <img class="demo" src="{{figPath[0]}}" style="width:100%" onclick="currentSlide(1)" alt="Nature">
            </div><div class="column">
              <img class="demo" src="{{figPath[1]}}" style="width:100%" onclick="currentSlide(2)" alt="Snow">
            </div>
          </div>
        </div>
      </div>


         <div class="container" align="left">
              <a href="{{zipLocation }}" target="blank"><button class='btn btn-default' {{galleryDisabled}}>Download!</button></a>
         </div>


  <!-- End of Gallery code-->



    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/grayscale.min.js"></script>

  <script>$(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="field' + next + '" type="text">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });



});
</script>

      <script>
      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
      $(document).mouseup(function(e){
            if($(e.target).parents('.modal-content').length==0 && !$(e.target).is('.modal-content')){
                $('.modal').css('display', 'none');
            }
        });
      </script>



      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>





</body>

</html>
